name = "OrbitPropagationLibrarySOFA"
uuid = "38b9e004-e2fa-4648-aa91-337faf7b69aa"
version = "0.2.3"
authors = ["Andrew Palski"]

[deps]
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
Aqua = "0.8"
DataFrames = "1"
FileIO = "1"
JLD2 = "0.6"
JET = "0.11"
StaticArrays = "1"
Test = "1.11"
julia = "1.12"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
JET = "c3a54625-cd67-489e-a8e7-0a5a0ff4e31b"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Aqua", "JET", "Test"]
